/* Selector de etiqueta */
form{
    /*centrar el formulario */
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li{
    margin-top: 1em;
}
label{
    display: inline;
    width: 90px;
    text-align: right;

}
input,textarea{
    font: 1em sans-serif;
   
    box-sizing: border-box;
    border: 1px solid #999;

}
input:focus{
    border-color: #000;
    
}
textarea{
    vertical-align: top;
    height: 9em;
    width: 300px;
}
/* Selector Clase */
.button{
    padding-left: 90px;
}
/* Selector de Etiqueta */
button{
    margin-left: .5em;
    margin-top: 9em;
}
.lugarN{
    float: right;
    margin-right: 50px;
  
}
.poblacion{
    float: right;
    margin-right: 50px;
}
.numeroH{
    float: right;
   margin-left: 400px;
   margin-top: 50px;
   margin-right: 50px;

}
.textA{
    float: right;
    margin-right: 200px;
    margin-top: 50px;
    
}
.faltante{
    margin-top: 50px;
}